body {
    display: none;
}

.telegram_container {
    position: absolute;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    height: 300px;

    background-image: url("telegram.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.telegram_content {
    position: absolute;
    margin-top: 110px;
    margin-left: 50px;
    width: 80%;
}

.telegram_sender {
    font-weight: 900;
}

.telegram_buttons {
    position: absolute;
    margin-top: 280px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 24px;
    color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;

  font-family: 'Playfair Display', serif;
  font-size: 16px;

  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
